################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gRPCtest/FileContentIndex/0984c478-682c-4cd7-b4c7-c03c5b9f6478.vsidx
